.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}
.inner{
    max-width: 1536px;
    width: 100%;
    padding: 0 48px;
    margin: 0 auto;
    position: relative;


    @include tablet{
        padding: 0 24px;
    }
    @include mobile{
        padding: 0 20px;
    }
}
.wrapper{
    position: relative;
}
body.oh{
    overflow: hidden;
}
