
.footer{
    padding: 70px 0 80px;
    background-color: #85827D;

    @include tablet{
        padding: 0;
    }
    .inner{
        display: flex;
        max-width: 1496px;

        @include tablet{
            display: block;
            padding-top: 94px;
            padding-bottom: 30px;
        }
        .logo-area{
            @include tablet{
                width: 65px;
            }
        }
        .item{
            padding-left: 40px;
            max-width: 700px;
            width: 100%;

            @include tablet{
                padding-left: 0;
                padding-top: 25px;
            }
            .privacy-list{
                margin-bottom: 30px;
                display: flex;
                align-items: center;

                @include tablet{
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    padding: 0 20px;
                    position: relative;
                    font-size: 16px;
                    color: #f6f6f6;
                    letter-spacing: 0em;
                    font-weight: 400;
                    line-height: 20px;

                    @include tablet{
                        padding: 0 10px;
                        font-size: 15px;
                    }
                    @include mobile{
                        font-size: 14px;
                    }
                }
                li:first-child {
                    a{
                        padding-left: 0;
                    }
                }
                li+li{    
                    a{
                        &::before{
                            content: "";
                            width: 1px;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: #aaa;
                        }
                    }
                }
            }
            p{
                font-size: 16px;
                color: #f6f6f6;    
                font-weight: 300;
                line-height: 1.5;
                word-break: keep-all;

                @include tablet{
                    font-size: 15px;
                }
                @include mobile{
                    font-size: 14px;
                }
            }
            address ul{
                margin-top: 10px;
                margin-left: -10px;
                li{
                    display: inline-block;
                    vertical-align: top;
                    padding: 5px 10px;
                    font-size: 16px;
                    color: #f6f6f6;    
                    font-weight: 300;
                    line-height: 1;

                    @include tablet{
                        font-size: 15px;
                    }
                    @include mobile{
                        font-size: 14px;
                    }
                }
            }
            .copy{
                font-size: 14px;
                display: block;
                line-height: 1.6;
                color: #f6f6f6;
                margin-top: 5px;

                @include tablet{
                    font-size: 13px;
                }
            }
        }
        .sns-area{
            margin-left: auto;
            
            @include tablet{
                position: absolute;
                top: 0;
                left: 24px;
                right: 24px;
                border-bottom: 1px solid #aaa;
                padding: 20px 0;

                @include mobile{
                    left: 20px;
                    right: 20px;
                }
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    img{
                        @include tablet{
                            width: 24px;
                        }
                    }
                }
                li+li{
                    margin-left: 20px;

                    @include tablet{
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}